# Terraform state and backup files
terraform.tfstate
terraform.tfstate.backup

# Terraform provider lock file
.terraform.lock.hcl
.terraform.tfstate.lock.hcl.info

# Local .terraform directories
.terraform/


